body {
	margin: 0;
	padding: 0;
}
.bg-green {
	background-color: green;
}
.bg-blue {
	background-color: blue;
}
.bg-red {
	background-color: red;
}
.bg-yellow {
	background-color: yellow;
}
.text-right {
	text-align: right;
}
.card-img-top {
	width: 100%;
	height: 20vw;
	object-fit: cover;
}
#upper-gradient-box {
	max-width: 100%;
	max-height: 400px;
}
.upper-gradient {
	background-color: #0093e9;
	background-image: linear-gradient(
		180deg,
		#0093e9 0%,
		#80d0c7 50%,
		#ffffff 100%
	);
}
.footer {
	padding-bottom: 15pt;
}
.container {
	background-color: white;
	border-radius: 5px;
}
h1.main {
	font-family: 'Luckiest Guy', cursive;
	font-size: 2.5rem;
	text-transform: uppercase;
	text-align: center;
}
h1 {
	font-family: 'Luckiest Guy', cursive;
	text-transform: uppercase;
	text-align: center;
}
.upper-slogan {
	margin: 40pt 0;
	padding-top: 15pt;
}
.capitalize {
	text-transform: capitalize;
}
.product-image {
	max-width: 80px;
	height: 80px;
	overflow: hidden;
}
.product-image img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
.product-image-small img {
	max-width: 100%;
	height: auto;
	overflow: hidden;
	object-fit: cover;
}
.iframe-container {
	position: relative;
	width: 100%;
	height: 100%;
}
.iframe-container > * {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
.w-10 {
	width: 10%;
}
.w-15 {
	width: 15%;
}
.w-20 {
	width: 20%;
}
.w-70 {
	width: 70%;
}

/* Single product */
.product-description .category {
	text-transform: uppercase;
}

.product-description .product-title {
	font-size: 1.5rem;
}
.text-bold {
	font-weight: 700;
}
.details-title {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.2rem;
	color: #757575;
}

.buttons .block {
	margin-right: 5px;
}

.quantity input {
	border-radius: 0;
	height: 40px;
}

.custom-btn {
	width: 150px;
	height: 40px;
}

/* Cart */
.cart-image {
	max-width: 70px;
	height: auto;
	display: flex;
	text-align: center;
	align-self: baseline;
}
.cart-content {
	display: grid;
}
.cart-quantity-buttons {
	display: grid;
	align-items: center;
	grid-template-columns: 3fr 1fr;
	border: 1px solid lightgray;
}
.single-price {
	font-size: 0.8rem;
}
.cart-content-info {
	display: grid;
	grid-template-columns: 30px 1fr 30px;
}
.cart-item-title {
	font-size: 1rem;
	font-weight: 500;
}
.remove-item {
	font-size: 1rem;
}
.cart-content a {
	text-decoration: none;
	border-bottom: none;
}
/* ensures the increment/decrement arrows always display */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	opacity: 1;
}
